### cleaning  sold apartments posts

In [1]:
import pandas as pd
import numpy as np
import re

from IPython.display import Image, display #for tree plot 
import pydotplus 
from scipy import misc

import seaborn as sns
import matplotlib as mpl
from matplotlib import pyplot as plt
%matplotlib inline
plt.rcParams['figure.figsize'] = (10, 6)

### import data set

In [2]:
df=pd.read_csv('PATH TO FILE HERE',index_col=[0],sep=',',low_memory=False)

In [3]:
df.shape

(42339, 7)

### clean nans and drop undesire columns

In [4]:
df_cln_sold=df

In [5]:
df_cln_sold.dropna(subset=['sub_area'],axis=0,inplace=True)

In [6]:
df_cln_sold.isna().sum()

city          0
sub_area      0
is_sold       0
date_sold     0
adress        0
rooms         0
price_sold    0
dtype: int64

### fixing data types

In [7]:
df_cln_sold['date_sold'] = pd.to_datetime(df_cln_sold['date_sold'],dayfirst=True)

In [8]:
df_cln_sold.dtypes

city                  object
sub_area              object
is_sold                int64
date_sold     datetime64[ns]
adress                object
rooms                float64
price_sold             int64
dtype: object

### outliers

In [9]:
#check that with median method i get the same result
#score = (df_cln_sold['price']-df_cln_sold['price'].mean()) / df_cln_sold['price'].std()
#outliers = abs(score) > 3
#sum(outliers)

df_cln_sold=df_cln_sold[df_cln_sold['price_sold']>300000]
df_cln_sold=df_cln_sold[df_cln_sold['price_sold']<20000000]

### fixing categorical features

In [10]:
temp=df_cln_sold['city'].value_counts()
val_to_keep=temp.loc[temp>=30]
df_cln_sold= df_cln_sold[df_cln_sold['city'].isin(val_to_keep.index.tolist())]

In [11]:
df_cln_sold['city'].value_counts()

ירושלים       2602
באר שבע       2327
חיפה          2056
אשקלון        1915
נתניה         1569
              ...
קרית טבעון      33
מצפה רמון       30
חד נס           30
יבנאל           30
עלי זהב         30
Name: city, Length: 111, dtype: int64

In [12]:
df_cln_sold.shape

(39972, 7)

In [12]:
df_cln_sold.to_csv('sold_clean.csv')